*{
	margin: 0;
	padding: 0;
}
header{
	position: absolute;
	height: 800px;
	font-size: x-large;
	font-weight: overflow;
	margin-left: 120px;

}
.header{
	font-size: large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html, body{
	width: 100%;
	height: 100%;
	font-size: 14px;
	font-weight: normal;
}

.background{
background-image: url("https://images.wallpapersden.com/image/download/usa-new-jersey-bridge_18047_3925x2256.jpg");
background-repeat: no-repeat;
background-size: cover;
position: relative;
overflow-y: auto;

}
.background_subs{
	background-color: pink;
}
.images{
	border: 1px;
    margin-left: 67px;
    margin-top: 200px;
    border-radius: 50px;
    height: 280px;
    width: 225px;

}
.image1 {
	position: absolute;
    left: 22%;
    bottom: 4px;
    width: 60px;
    height: 48px;
    margin-left: -20px;
  } 
  
.image2 {
	position: absolute;
    left: 27%;
    bottom: -1px;
    width: 54px;
    height: 48px;
    margin-left: -20px;
  } 

.nav {
	width: 350px;
	height: auto;
	position: absolute;
	top: 25%;
	right: 0;
}
.nav a{
	text-decoration: none;
	font-size: 24px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: bold;
    height: 65px;
	margin: 5px 0;
	float: none;
	display: inline-block;
	background-color: black;
	color: white;
	line-height: 80px;
	text-align: center;
	transition: 250ms;
}
a.active, .nav a:hover{
background-color: white;
	color: black;
	width: 85%;
}


.a{
	width: 80%;
}
.b{
	width: 80%;
}
.c{
	width: 80%;
}
.d{
	width: 80%;
}
.media{
	position: absolute;
	bottom:40%;
	left: 50%;
	transform: translate(-53%, -50%);
}

.fa{
	padding:20pxj;
	font-size: 30px;
	width: 50px;
	text-align: center;
}

.footer {
	position: fixed;
	left: 0;
	width: 200%;
	height: 9%;
	background-color: black;
	/* color: white; */
	/* text-align: center; */
	text-align: justify;
	bottom: 0%;
	
  }
  .bio{
		text-align: center;
		top: 5%;
		font-size: large;
		font-family: monospace;
		margin-top: 18%;

	
  }
  .content{
		width: 60%;
		padding: 20px;

	
  }
  
	.list {
		margin-left: 3%;
		margin-top: 20%;
		font-size: large;
		width: 115%;

	
  }
  .content_projects{
	margin: 7px;
    padding: 0;
    margin-top: 140px;
    font-size: large;
    width: 70%;
    text-align: center;
}
.name{
	margin-top: 99px;
    margin-left: -26px;
    font-family: anton;
}
.job_title{
	margin-top: 8px;
    margin-left: -56px;
    font-family: anton;


	
}
td {
	height:70px;
}





  



